/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
body{
    background-color:aliceblue;
}

.primary-container {
    margin: 100px auto;
    padding: 25px;
    background-color: rgb(155 187 198);
    min-height: 100px;
    width: auto;
  }