/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "colors.scss";
body{
    background-color:$indanthrone-blue;
}

.btn-primary{
    background-color:$indanthrone-blue;
    border:unset;
    
    &:hover{
        background-color: $blue-slate;      
    }
    &:active{
        background-color: $indanthrone-blue !important;      
    }
    &:focus{
        border: 1px solid $sunburst-yellow;
        background-color: $indanthrone-blue;
    }
    &:focus-visible{
        border: 1px solid $sunburst-yellow;
        background-color: $indanthrone-blue;
        box-shadow: unset;
    }
}

.primary-container {
    margin: 100px auto;
    padding: 25px;
    background-color: $cool-blue;
    min-height: 100px;
    width: auto;
  }